<import from="./element.html" />

<element
  expand="{{ other }}"
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <dynamic
    tag="{{ tag }}"
    class="
      {{ elementClasses }}
      {{ Class.Box }}
      {{ classes }}
    "
    expand="{{ restProps }}"
  >
    <slot />
  </dynamic>
</element>

<script type="module" build>
  import { Class } from "./lib/constants.js";

  const { class: classes = "", kind, ...other } = props;

  const tag =
    kind != null
      ? /h(?:eader)?/.test(kind)
        ? "header"
        : /f(?:ooter)?/.test(kind)
          ? "footer"
          : /m(?:ain)?/.test(kind)
            ? "main"
            : /s(?:ection)?/.test(kind)
              ? "section"
              : /b(?:lock)?/.test(kind) || /ar(?:ticle)?/.test(kind)
                ? "article"
                : /r(?:edundant)?/.test(kind) ||
                    /fo(?:reign)?/.test(kind) ||
                    /as(?:ide)?/.test(kind)
                  ? "aside"
                  : "div"
      : "div";
</script>
