<import from="@moru/core/only.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.Button }} {
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  </style>
</only>

<element
  expand="{{ other }}"
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <button
    class="
      {{ elementClasses }}
      {{ Class.Button }}
      {{ classes }}
    "
    type="{{ type === 'basic' ? 'button' : type }}"
    expand="{{ restProps }}"
  >
    <slot />
  </button>
</element>

<script type="module" build>
  import { Class } from "./lib/constants.js";
  import { useRootContext } from "./lib/root-context.js";

  const { class: classes = "", type, ...other } = props;

  const rootContext = useRootContext(buildStore);
</script>
