<import from="./element.html" />

<export name="elementId" as="id" />

<element
  expand="{{ other }}"
  assign:id
  assign:classes
  assign:rest-props="restProps"
>
  <dynamic
    tag="{{ tag }}"
    class="
      {{ classes }}
      {{ customClasses }}
    "
    expand="{{ restProps }}"
  >
    <slot />
  </dynamic>

  <script build>
    elementId = id;
  </script>
</element>

<script build>
  const { tag, class: customClasses = "", ...other } = props;

  if (!tag.includes("-")) {
    throw new Error(
      `Custom tag must contain the dash character, but received "${tag}".`,
    );
  }

  let elementId;
</script>
