<import from="@moru/core/only.html" />

<import from="./box.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.Dialog }} {
      border: none;
      padding: 0;
      background-color: transparent;
    }
  </style>
</only>

<dialog
  id="{{ id }}"
  class="
    {{ Class.Dialog }}
    {{ classes }}
  "
  popover="{{ parseBooleanProperty(popover) }}"
  closedby="{{ closedby }}"
>
  <box expand="{{ other }}">
    <slot />
  </box>
</dialog>

<script type="module" build>
  import { Class } from "./lib/constants.js";
  import { useRootContext } from "./lib/root-context.js";
  import { parseBooleanProperty } from "./lib/property.js";

  const { id, class: classes = "", closedby, popover, ...other } = props;

  const rootContext = useRootContext(buildStore);
</script>
