<import from="@moru/core/only.html" />

<export name="id" />
<export name="classes" />
<export name="restProps" as="rest-props" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.Element }} {
      {{ CustomProperty.Direction }}: row;

      display: inline-flex;
      align-items: flex-start;
      box-sizing: border-box;

      &[data-debug] {
        border: 2px dashed red;
      }

      &:has(> .{{ Class.PositionedContainer }}) {
        position: relative;

        & > * {
          z-index: 1;
        }
      }
    }

    .{{ Class.PositionedContainer }} {
      display: inline-flex;
    }
  </style>
</only>

<style portal="{{ rootContext.headPortalName }}">
  .{{ id }} {
    {{ css }}
  }
</style>

<if condition="{{ position }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.PositionedContainer }}:has(> .{{ id }}) {
      {{ positionedContainerCss }}
    }
  </style>

  <div class="{{ Class.PositionedContainer }}">
    <slot />
  </div>
</if>
<else>
  <slot />
</else>

<script type="module" build>
  import { useRootContext } from "./lib/root-context.js";
  import { createDisplayValue } from "./lib/transformers/display.js";
  import { createOverflowValue } from "./lib/transformers/clip.js";
  import { Class, CustomProperty } from "./lib/constants.js";
  import { createOpacityProperty } from "./lib/transformers/opacity.js";
  import { createPositionProperty } from "./lib/transformers/position.js";
  import { createRotationProperty } from "./lib/transformers/rotation.js";
  import { createMovementProperty } from "./lib/transformers/movement.js";
  import { createDirectionProperty } from "./lib/transformers/direction.js";
  import { createAlignmentProperties } from "./lib/transformers/alignment.js";
  import {
    compileCss,
    createSinglePropertyTransformer,
  } from "./lib/compile-css.js";

  const {
    hidden,
    vertical,
    align,
    width,
    height,
    "min-width": minWidth,
    "min-height": minHeight,
    "max-width": maxWidth,
    "max-height": maxHeight,
    padding,
    spacing,
    "clip-x": clipX,
    "clip-y": clipY,
    background,
    rounded,
    border,
    shadow,
    opacity,
    move,
    scale,
    rotate,
    position,
    style,
    ...restProps
  } = props;

  const id = `m${crypto.randomUUID()}`;
  const rootContext = useRootContext(buildStore);
  const classes = `${id} ${Class.Element}`;

  const css = `
    ${compileCss(hidden, createSinglePropertyTransformer("display", createDisplayValue))}
    ${compileCss(vertical, createDirectionProperty)}
    ${compileCss(align, createAlignmentProperties)}
    ${compileCss(width, createSinglePropertyTransformer("width"))}
    ${compileCss(height, createSinglePropertyTransformer("height"))}
    ${compileCss(minWidth, createSinglePropertyTransformer("min-width"))}
    ${compileCss(minHeight, createSinglePropertyTransformer("min-height"))}
    ${compileCss(maxWidth, createSinglePropertyTransformer("max-width"))}
    ${compileCss(maxHeight, createSinglePropertyTransformer("max-height"))}
    ${compileCss(padding, createSinglePropertyTransformer("padding"))}
    ${compileCss(spacing, createSinglePropertyTransformer("gap"))}
    ${compileCss(clipX, createSinglePropertyTransformer("overflow-x", createOverflowValue))}
    ${compileCss(clipY, createSinglePropertyTransformer("overflow-y", createOverflowValue))}
    ${compileCss(background, createSinglePropertyTransformer("background"))}
    ${compileCss(rounded, createSinglePropertyTransformer("border-radius"))}
    ${compileCss(border, createSinglePropertyTransformer("border"))}
    ${compileCss(shadow, createSinglePropertyTransformer("box-shadow"))}
    ${compileCss(opacity, createOpacityProperty)}
    ${compileCss(move, createMovementProperty)}
    ${compileCss(scale, createSinglePropertyTransformer("scale"))}
    ${compileCss(rotate, createRotationProperty)}
    ${compileCss(style, (css) => css, false)}
  `.trim();

  const positionedContainerCss = `
    ${compileCss(position, createPositionProperty)}
  `.trim();
</script>
