<import from="@moru/core/only.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.File }} {
      > :first-child {
        visibility: hidden;
        position: fixed;
        top: -100vh;
        left: -100vw;
      }
    }
  </style>
</only>

<element
  expand="{{ other }}"
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <label
    class="
      {{ elementClasses }}
      {{ Class.File }}
      {{ classes }}
    "
    expand="{{ restProps }}"
  >
    <input
      type="file"
      accept="{{ accept }}"
      multiple="{{ normaliseBooleanProperty(multiple) }}"
      capture="{{ capture }}"
    />
    <slot />
  </label>
</element>

<script type="module" build>
  import { Class } from "./lib/names.js";
  import { useRootContext } from "./lib/root-context.js";
  import { normaliseBooleanProperty } from "./lib/normalisers.js";

  /**
   * @typedef {Object} Props
   * @property {string} [class]
   * @property {string} [accept]
   * @property {string | boolean} [multiple]
   * @property {string} [capture]
   */

  const {
    class: classes = "",
    accept,
    multiple,
    capture,
    ...other
  } = /** @type {Props} */ (props);

  const rootContext = useRootContext(buildStore);
</script>
