<import from="@moru/core/only.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.File }} {
      > :first-child {
        visibility: hidden;
        position: fixed;
        top: -100vh;
        left: -100vw;
      }
    }
  </style>
</only>

<element
  expand="{{ other }}"
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <label
    class="
      {{ elementClasses }}
      {{ Class.File }}
      {{ classes }}
    "
    expand="{{ restProps }}"
  >
    <input
      type="file"
      accept="{{ accept }}"
      multiple="{{ parseBooleanProperty(multiple) }}"
      capture="{{ capture }}"
    />
    <slot />
  </label>
</element>

<script type="module" build>
  import { Class } from "./lib/constants.js";
  import { useRootContext } from "./lib/root-context.js";
  import { parseBooleanProperty } from "./lib/property.js";

  const { class: classes = "", accept, multiple, capture, ...other } = props;

  const rootContext = useRootContext(buildStore);
</script>
