<import from="@moru/core/only.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.Image }} {
      img {
        max-width: 100%;
      }
    }
  </style>
</only>

<element
  expand="{{ other }}"
  assign:id
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <if condition="{{ css }}">
    <style portal="{{ rootContext.headPortalName }}">
      .{{ id }} {
        img {
          {{ css }}
        }
      }
    </style>
  </if>

  <picture
    class="
      {{ elementClasses }}
      {{ Class.Image }}
      {{ classes }}
    "
    expand="{{ restProps }}"
  >
    <for each="{{ sources.slice(0, -1) }}">
      <source expand="{{ createAttributesForSourceElement(item) }}" />
    </for>
    <img
      alt="{{ description }}"
      expand="{{ createAttributesForFallbackElement(fallbackImageDescriptor) }}"
    />
  </picture>
</element>

<script type="module" build>
  import { Class } from "./lib/constants.js";
  import { useRootContext } from "./lib/root-context.js";
  import {
    compileCss,
    createSinglePropertyTransformer,
  } from "./lib/compile-css.js";
  import {
    createAttributesForSourceElement,
    createAttributesForFallbackElement,
  } from "./lib/image.js";

  const { class: classes = "", fit, sources, description, ...other } = props;

  if (!sources) {
    throw new Error(
      'A "sources" attribute is missing on the <image> component.',
    );
  }

  if (!Array.isArray(sources)) {
    throw new Error(
      'A "sources" attribute value has to be an array, but currently it is ' +
        typeof sources +
        ".",
    );
  }

  if (!sources.length) {
    throw new Error(
      'A "sources" attribute value is an empty array, but it has to have at least one "ImageDescriptor".',
    );
  }

  const rootContext = useRootContext(buildStore);
  const fallbackImageDescriptor = sources.at(-1);

  const css = `
    ${compileCss(fit, createSinglePropertyTransformer("object-fit"))}
  `.trim();
</script>
