<import from="@moru/core/only.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.stylesPortalName }}">
    .{{ Class.Image }} {
      img {
        width: 100%;
        height: 100%;

        object-fit: var({{ CustomProperty.ImageFit }});
      }
    }
  </style>
</only>

<element
  expand="{{ other }}"
  assign:id
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <style portal="{{ rootContext.stylesPortalName }}">
    .{{ id }} {
      img {
        {{ css }}
      }
    }
  </style>

  <picture
    class="
      {{ elementClasses }}
      {{ Class.Image }}
      {{ classes }}
    "
    expand="{{ restProps }}"
  >
    <for each="{{ sources.slice(0, -1) }}">
      <source expand="{{ createAttributesForSourceElement(item) }}" />
    </for>
    <img
      alt="{{ description }}"
      expand="{{ createAttributesForFallbackElement() }}"
    />
  </picture>
</element>

<script type="module" build>
  /**
   * @import { ImageFit } from './lib/visitors/image-fit-visitor.js';
   */

  import { Class, CustomProperty } from "./lib/names.js";
  import { useRootContext } from "./lib/root-context.js";
  import { usePropertyCompiler } from "./lib/property.js";
  import { ImageFitVisitor } from "./lib/visitors/image-fit-visitor.js";

  /**
   * @typedef {Object} ImageDescriptor
   * @property {string} [type]
   * @property {string} [media]
   * @property {Array<string>} [sizes]
   * @property {Array<string | [string, `${number}${'w' | 'x'}`]>} urls
   */

  /**
   * @typedef {Pick<ImageDescriptor, 'urls' | 'sizes'>} FallbackImageDescriptor
   */

  /**
   * @typedef {Object} Props
   * @property {string} [class]
   * @property {ImageFit} [fit]
   * @property {string} description
   * @property {Array<ImageDescriptor | FallbackImageDescriptor>} sources
   */

  const {
    class: classes = "",
    fit = "cover",
    sources,
    description,
    ...other
  } = /** @type {Props} */ (props);

  if (!sources) {
    throw new Error(
      'A "sources" attribute is missing on the <image> component.',
    );
  }

  if (!Array.isArray(sources)) {
    throw new Error(
      'A "sources" attribute value has to be an array, but currently it is ' +
        typeof sources +
        ".",
    );
  }

  if (!sources.length) {
    throw new Error(
      'A "sources" attribute value is an empty array, but it has to have at least one "ImageDescriptor".',
    );
  }

  const rootContext = useRootContext(buildStore);
  /** @type {FallbackImageDescriptor} */
  const fallbackImageDescriptor = sources.at(-1);

  const compileProperty = usePropertyCompiler(buildStore);

  const css = [
    compileProperty(CustomProperty.ImageFit, fit, {
      visitor: ImageFitVisitor,
    }),
  ].join("");

  /**
   * @param {ImageDescriptor['urls']} urls
   * @returns {string}
   */
  function stringifySrcset(urls) {
    return urls.reduce((accumulator, urlOrPair) => {
      return (
        (accumulator.length ? accumulator + ", " : "") +
        (Array.isArray(urlOrPair)
          ? `${urlOrPair[0]} ${urlOrPair[1]}`
          : urlOrPair)
      );
    }, "");
  }

  /**
   * @param {ImageDescriptor} imageDescriptor
   * @returns {Object}
   */
  function createAttributesForSourceElement(imageDescriptor) {
    return {
      type: imageDescriptor.type,
      media: imageDescriptor.media,
      srcset: stringifySrcset(imageDescriptor.urls),
    };
  }

  /**
   * @returns {Object}
   */
  function createAttributesForFallbackElement() {
    const attributes = {};

    if (Array.isArray(fallbackImageDescriptor.urls)) {
      attributes.srcset = stringifySrcset(fallbackImageDescriptor.urls);
    } else {
      attributes.src = fallbackImageDescriptor.urls;
    }

    if (fallbackImageDescriptor.sizes) {
      attributes.sizes = fallbackImageDescriptor.sizes.join(", ");
    }

    return attributes;
  }
</script>
