<import from="@moru/core/only.html" />

<import from="./typography.html" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.headPortalName }}">
    .{{ Class.Input }} {
      resize: none;
      /* Do not overflow the container by default. */
      max-width: 100%;
      padding: 0;
      border: none;

      {{ CustomProperty.TextLines }}: 1;

      height: calc(
        var({{ CustomProperty.TextLineHeight }}) * var({{ CustomProperty.TextLines }})
      );
    }
  </style>
</only>

<typography
  expand="{{ other }}"
  assign:id
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <if condition="{{ css }}">
    <style portal="{{ rootContext.headPortalName }}">
      .{{ id }} {
        {{ css }}
      }
    </style>
  </if>

  <if condition="{{ multiline != null && multiline !== false }}">
    <textarea
      class="
        {{ elementClasses }}
        {{ Class.Input }}
        {{ classes }}
      "
      expand="{{ restProps }}"
    />
  </if>
  <else>
    <input
      class="
        {{ elementClasses }}
        {{ Class.Input }}
        {{ classes }}
      "
      type="{{ type }}"
      expand="{{ restProps }}"
    />
  </else>
</typography>

<script type="module" build>
  import { useRootContext } from "./lib/root-context.js";
  import { Class, CustomProperty } from "./lib/constants.js";
  import {
    compileCss,
    createSinglePropertyTransformer,
  } from "./lib/compile-css.js";

  const {
    class: classes = "",
    type = "text",
    multiline,
    lines,
    // Do not allow to set next properties explicitly.
    height: _0,
    padding: _1,
    border: _2,
    ...other
  } = props;

  const rootContext = useRootContext(buildStore);

  const css = `
    ${compileCss(lines, createSinglePropertyTransformer(CustomProperty.TextLines))}
  `.trim();
</script>
