<import from="./element.html" />

<element
  expand="{{ other }}"
  assign:classes="elementClasses"
  assign:rest-props="restProps"
>
  <a
    class="
      {{ elementClasses }}
      {{ Class.Link }}
      {{ classes }}
    "
    href="{{ url }}"
    expand="{{ restProps }}"
  >
    <slot />
  </a>
</element>

<script type="module" build>
  import { Class } from "./lib/constants.js";

  const { class: classes = "", href, ...other } = props;

  const url = typeof href === "string" ? href : href.toString();
</script>
