<import from="@moru/core/only.html" />
<import from="@moru/core/context-provider.html" />

<import from="./element.html" />

<only key="{{ url.current }}">
  <style portal="{{ context.headPortalName }}">
    html,
    body {
      /*
       Explicitly define minimun and taken by default height,
       so the page area will be defined for nested elements.
       */
      height: 100%;
      min-height: 100%;
    }

    /* Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
      html {
        interpolate-size: allow-keywords;
      }
    }

    body {
      margin: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }

    .{{ Class.Root }} {
      /* Make it an offset parent. */
      position: relative;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }
    }
  </style>
</only>

<context-provider key="{{ ROOT_CONTEXT }}" value="{{ context }}">
  <script type="module" portal="{{ context.headPortalName }}">
    import { clientRootContext } from "build";

    import { Context, Component } from "./client-component.js";
    import { ClientRootContext } from "./client-root-context.js";

    @Component({ tag: "mu-root" })
    class MuRoot {
      @Context(ClientRootContext)
      #createClientRootContextValue() {
        return clientRootContext;
      }
    }
  </script>

  <element
    ref="{{ ref }}"
    hidden="{{ hidden }}"
    direction="column"
    min-width="fill"
    min-height="fill"
    assign:id
    assign:classes="elementClasses"
  >
    <style portal="{{ context.headPortalName }}">
      .{{ id }} {
        {{ css }}
      }
    </style>

    <mu-root
      class="
        {{ elementClasses }}
        {{ Class.Root }}
        {{ classes }}
      "
      expand="{{ restProps }}"
    >
      <slot />
    </mu-root>
  </element>
</context-provider>

<script type="module" build>
  /**
   * @import { Ref } from './ref.js'
   * @import { RootContext } from './lib/root-context.js';
   * @import { ClientRootContext } from './client-root-context.js';
   */

  import { usePropertyCompiler } from "./lib/property.js";
  import { Class, CustomProperty } from "./lib/names.js";
  import { MeasurementUnitVisitor } from "./lib/visitors/unit-visitor.js";
  import { ROOT_CONTEXT, createRootContext } from "./lib/root-context.js";

  /**
   * @typedef {Object} Props
   * @property {Ref} [ref]
   * @property {string} [hidden]
   * @property {string} [class]
   * @property {string} [head-portal-name]
   * @property {string} [default-measurement-unit]
   * @property {string} [default-font-size]
   * @property {string} [default-font-family]
   * @property {string} [default-real-text-height-ratio]
   * @property {string} [default-text-side-offset-correction]
   */

  const {
    ref,
    hidden,
    class: classes = "",
    "head-portal-name": headPortalName,
    "measurement-unit":
      // https://matthewjamestaylor.com/responsive-font-size
      measurementUnit = "calc(15px + 0.390625vw)",
    "default-font-size": defaultFontSize,
    "default-font-family": defaultFontFamily,
    "default-real-text-height-ratio": defaultRealTextHeightRatio,
    "default-text-side-offset-correction": defaultTextSideOffsetCorrection,
    ...restProps
  } = /** @type {Props} */ (props);

  /**
   * @type {RootContext}
   */
  const context = createRootContext({
    defaultFontSize,
    headPortalName,
    defaultFontFamily,
    defaultRealTextHeightRatio,
    defaultTextSideOffsetCorrection,
  });

  /**
   * @type {ClientRootContext}
   */
  export const clientRootContext = {};

  const compileProperty = usePropertyCompiler(buildStore);

  const css = [
    compileProperty(CustomProperty.MeasurementUnit, measurementUnit, {
      visitor: MeasurementUnitVisitor,
    }),
  ].join("");
</script>
