<import from="@moru/core/only.html" />
<import from="@moru/core/context-provider.html" />

<import from="./element.html" />

<if condition="{{ includeGlobalStylesheet === '' || includeGlobalStylesheet }}">
  <only key="{{ url.current }}">
    <style portal="{{ context.headPortalName }}">
      html,
      body {
        /*
          Explicitly define minimun and taken by default height,
          so the page area will be defined for nested elements.
        */
        height: 100%;
        min-height: 100%;
      }

      /* Enable keyword animations */
      @media (prefers-reduced-motion: no-preference) {
        html {
          interpolate-size: allow-keywords;
        }
      }

      body {
        margin: 0;
        box-sizing: border-box;
      }
    </style>
  </only>
</if>

<only key="{{ url.current + 'own-style' }}">
  <style portal="{{ context.headPortalName }}">
    .{{ Class.Root }} {
      position: relative;
    }
  </style>
</only>

<context-provider key="{{ ROOT_CONTEXT }}" value="{{ context }}">
  <element
    width="fill"
    height="fill"
    hidden="{{ hidden }}"
    vertical="{{ vertical }}"
    assign:id
    assign:classes="elementClasses"
  >
    <style portal="{{ context.headPortalName }}">
      .{{ id }} {
        {{ css }}
      }
    </style>

    <div
      class="
        {{ elementClasses }}
        {{ Class.Root }}
        {{ classes }}
      "
      expand="{{ restProps }}"
    >
      <slot />
    </div>
  </element>
</context-provider>

<script type="module" build>
  import { Class, CustomProperty } from "./lib/constants.js";
  import { ROOT_CONTEXT, createRootContext } from "./lib/root-context.js";
  import {
    compileCss,
    createSinglePropertyTransformer,
  } from "./lib/compile-css.js";

  const {
    hidden,
    vertical,
    class: classes = "",
    "head-portal-name": headPortalName,
    "measurement-unit-value":
      // https://matthewjamestaylor.com/responsive-font-size
      measurementUnitValue = "calc(15px + 0.390625vw)",
    "default-font-size": defaultFontSize,
    "default-font-family": defaultFontFamily,
    "default-real-text-height-ratio": defaultRealTextHeightRatio,
    "default-text-side-offset-correction": defaultTextSideOffsetCorrection,
    "include-global-stylesheet": includeGlobalStylesheet,
    ...restProps
  } = props;

  const context = createRootContext({
    defaultFontSize,
    headPortalName,
    defaultFontFamily,
    defaultRealTextHeightRatio,
    defaultTextSideOffsetCorrection,
  });

  const css = `
    ${compileCss(measurementUnitValue, createSinglePropertyTransformer(CustomProperty.MeasurementUnit))}
    ${compileCss(context.defaultFontSize, createSinglePropertyTransformer(CustomProperty.DefaultFontSize))}
    ${compileCss(context.defaultRealTextHeightRatio ?? context.fallbackRealTextHeightRatio, createSinglePropertyTransformer(CustomProperty.DefaultRealTextHeightRatio))}
    ${compileCss(context.defaultTextSideOffsetCorrection ?? context.fallbackTextSideOffsetCorrection, createSinglePropertyTransformer(CustomProperty.DefaultTextSideOffsetCorrection))}
    ${compileCss(context.defaultFontFamily ?? context.fallbackFontFamily, createSinglePropertyTransformer("font-family"))}
  `.trim();
</script>
