<import from="./typography.html" />

<typography
  expand="{{ restProps }}"
  assign:id
  assign:classes="elementClasses"
  assign:rest-props="elementRestProps"
>
  <dynamic
    tag="{{ textTag }}"
    class="
      {{ elementClasses }}
      {{ Class.Text }}
      {{ classes }}
    "
    expand="{{ elementRestProps }}"
  >
    <slot />
  </dynamic>
</typography>

<script type="module" build>
  import { Class } from "./lib/constants.js";

  const { class: classes = "", kind, ...restProps } = props;

  const textTag =
    kind != null
      ? kind.startsWith("h")
        ? `h${kind[kind.length - 1]}`
        : kind.startsWith("p")
          ? "p"
          : "span"
      : "span";
</script>
