<import from="@moru/core/only.html" />

<import from="./element.html" />

<export name="textualElementId" as="id" />
<export name="textualElementClasses" as="classes" />
<export name="textualElementRestProps" as="rest-props" />

<only key="{{ url.current }}">
  <style portal="{{ rootContext.stylesPortalName }}">
    .{{ Class.TextualElement }} {
      --mu-font-side-offset: calc(
        var({{ CustomProperty.FontSize }}) *
          (var({{ CustomProperty.TextSpacing }}) / -2)
      );
      {{ CustomProperty.TextLineHeight }}: calc(
        var({{ CustomProperty.RealTextHeightRatio }}) +
          var({{ CustomProperty.TextSpacing }})
      );

      /* Margins in pseudoelements are working only if the container is block. */
      display: inline-block;
      font-size: var({{ CustomProperty.FontSize }});
      font-weight: var({{ CustomProperty.FontWeight }});
      font-family: var({{ CustomProperty.FontFamily }});
      line-height: var({{ CustomProperty.TextLineHeight }});
      letter-spacing: var({{ CustomProperty.TextDensity }});

      white-space: var({{ CustomProperty.TextWhiteSpace }});
      overflow-wrap: var({{ CustomProperty.TextOverflowWrap }});

      color: var({{ CustomProperty.Colour }});

      &::before,
      &::after {
        content: "";
        display: block;
        height: 0;
      }

      &::before {
        margin-bottom: calc(
          var(--mu-font-side-offset) +
            var({{ CustomProperty.TextSideOffsetCorrection }})
        );
      }

      &::after {
        margin-top: var(--mu-font-side-offset);
      }
    }
  </style>
</only>

<element
  expand="{{ restProps }}"
  assign:id
  assign:rest-props="elementRestProps"
  assign:classes="elementClasses"
>
  <style portal="{{ rootContext.stylesPortalName }}">
    .{{ id }} {
      {{ css }}
    }
  </style>

  <slot />

  <script build>
    textualElementId = id;
    textualElementRestProps = elementRestProps;
    textualElementClasses = `${elementClasses} ${Class.TextualElement}`;
  </script>
</element>

<script type="module" build>
  /**
   * @import { TextBreaking } from './lib/visitors/text-breaking-visitor.js';
   */

  import { Class, CustomProperty } from "./lib/names.js";
  import { useRootContext } from "./lib/root-context.js";
  import { usePropertyCompiler } from "./lib/property.js";
  import { FontSizeVisitor } from "./lib/visitors/font-size-visitor.js";
  import { ColourVisitor } from "./lib/visitors/colour-visitor.js";
  import { FontWeightVisitor } from "./lib/visitors/font-weight-visitor.js";
  import { FontFamilyVisitor } from "./lib/visitors/font-family-visitor.js";
  import { TextSpacingVisitor } from "./lib/visitors/text-spacing-visitor.js";
  import { TextDensityVisitor } from "./lib/visitors/text-density-visitor.js";
  import { TextBreakingVisitor } from "./lib/visitors/text-breaking-visitor.js";
  import {
    RealTextHeightRatioVisitor,
    TextSideOffsetCorrectionVisitor,
  } from "./lib/visitors/line-height-visitors.js";

  const rootContext = useRootContext(buildStore);

  /**
   * @typedef {Object} Props
   * @property {string | number} [size]
   * @property {string} [color]
   * @property {string} [weight]
   * @property {string} [family]
   * @property {string | number} [spacing]
   * @property {string | number} [density]
   * @property {TextBreaking} [breaking]
   * @property {string | number} [real-height-ratio]
   * @property {string | number} [side-offset-correction]
   */

  const {
    size = rootContext.defaultFontSize,
    color = "initial",
    weight = 400,
    family = rootContext.defaultFontFamily ?? rootContext.fallbackFontFamily,
    spacing = 0,
    density = 1,
    breaking = "prefer-newlines",
    "real-height-ratio":
      realHeightRatio = rootContext.defaultRealTextHeightRatio ??
        rootContext.fallbackRealTextHeightRatio,
    "side-offset-correction":
      sideOffsetCorrection = rootContext.defaultTextSideOffsetCorrection ??
        rootContext.fallbackTextSideOffsetCorrection,
    ...restProps
  } = /** @type {Props} */ (props);

  const compileProperty = usePropertyCompiler(buildStore);

  const css = [
    compileProperty(CustomProperty.FontSize, size, {
      visitor: FontSizeVisitor,
    }),
    compileProperty(CustomProperty.Colour, color, {
      visitor: ColourVisitor,
    }),
    compileProperty(CustomProperty.FontWeight, String(weight), {
      visitor: FontWeightVisitor,
    }),
    compileProperty(CustomProperty.FontFamily, family, {
      visitor: FontFamilyVisitor,
    }),
    compileProperty(CustomProperty.TextSpacing, String(spacing), {
      visitor: TextSpacingVisitor,
    }),
    compileProperty(CustomProperty.TextDensity, String(density), {
      visitor: TextDensityVisitor,
    }),
    compileProperty(CustomProperty.TextWhiteSpace, breaking, {
      visitor: TextBreakingVisitor,
    }),
    compileProperty(CustomProperty.RealTextHeightRatio, realHeightRatio, {
      visitor: RealTextHeightRatioVisitor,
    }),
    compileProperty(
      CustomProperty.TextSideOffsetCorrection,
      sideOffsetCorrection,
      {
        visitor: TextSideOffsetCorrectionVisitor,
      },
    ),
  ].join("");

  let textualElementId;
  let textualElementClasses;
  let textualElementRestProps;
</script>
