<export name="id" />

<slot />

<script type="module" build>
  import { IDS } from "./lib/symbols.js";
  import { getFromNamespace } from "./lib/namespace.js";

  const ALPHABET =
    "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
  const ids = getFromNamespace(buildStore, IDS, () => ({
    index: 0,
    overflows: 0,
  }));
  /**
   * @param {number} index
   */
  function generateUniqueIdPartFrom(index) {
    let uniqueIdPart = "";
    do {
      uniqueIdPart = ALPHABET[index % ALPHABET.length] + uniqueIdPart;
      index = Math.floor(index / ALPHABET.length);
    } while (index > 0);
    return uniqueIdPart;
  }
  const prefix =
    ids.overflows > 0 ? generateUniqueIdPartFrom(ids.overflows) + "_" : "";
  const base = generateUniqueIdPartFrom(ids.index);

  ids.index += 1;
  if (!Number.isSafeInteger(ids.index)) {
    ids.overflows += 1;
    ids.index = 0;
  }

  const id = `_${prefix}${base}`;
</script>
