<slot />

<script type="module" build>
  import { CONTEXTS } from "./lib/symbols.js";
  import { getFromNamespace } from "./lib/namespace.js";

  /**
   * @template A
   * @typedef {Object} Props
   * @property {PropertyKey} key
   * @property {A} value
   */

  const { key, value } = /** @type {Props} */ (props);

  if (key === undefined) {
    throw new Error(
      `<context-provider> must have the "key" attribute with a defined value.`,
    );
  }

  if (value === undefined) {
    throw new Error(
      `<context-provider> should have the "value" attribute with a defined value.`,
    );
  }

  /** @type {Map<PropertyKey, unknown>} */
  const contexts = getFromNamespace(buildStore, CONTEXTS, () => new Map());
  /** @type {unknown} */
  const previousContextValue = getFromNamespace(contexts, key);

  contexts.set(key, value);

  onAfterRender(() => {
    if (previousContextValue === undefined) {
      contexts.delete(key);
    } else {
      contexts.set(key, previousContextValue);
    }
  });
</script>
