<if condition="{{ shouldRender }}">
  <slot />
</if>

<script build>
  /** @typedef {Object} Props
   * @property {string | number | symbol} key
   * @property {number} [times = 1] */

  const { key, times = 1 } = /** @type {Props} */ (props);

  if (key === undefined) {
    throw new Error(
      'The "only" component requires a "key" property passed in and not equal to `undefined`.',
    );
  }

  if (times < 0) {
    throw new Error(
      'The "times" property cannot be a negative number, the current value is ' +
        times +
        ".",
    );
  }

  let onlyCache = buildStore.get("only-cache");

  if (!onlyCache) {
    onlyCache = new Map();
    buildStore.set("only-cache", onlyCache);
  }

  const renderedTimes = onlyCache.get(key) ?? 0;
  const shouldRender = renderedTimes < times;

  if (shouldRender) {
    onlyCache.set(key, renderedTimes + 1);
  }
</script>
